@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="MyHeader" class="display-4">EventMe</h1>
    <a class="arrow-button" asp-area="" asp-controller="Event" asp-action="Index">
        Explore Events<span class="arrow"></span>
    </a>
</div>
