@model EventViewModel
@{
    ViewBag.Titel = "Add Event";
}

<form asp-controller="Event" asp-action="Add" method="post" class="MyForm">
    <input asp-for="Id" type="hidden" />
    <h1>Add Event</h1>
    <div class="question">
        <input asp-for="Name" type="text" required />
        <label asp-for="Name">Name</label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="question">
        <input asp-for="Place" type="text" required />
        <label asp-for="Place">Place</label>
        <span asp-validation-for="Place" class="text-danger"></span>
    </div>
    <div class="question">
            <input asp-for="Start" type="datetime-local" value="" />
        <label asp-for="Start">Start</label>
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>
    <div class="question">
        <input asp-for="End" type="datetime-local" value="" />
        <label asp-for="End">End</label>
        <span asp-validation-for="End" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
